player-connection-mode=Listen
player-connection-guid=2525274824
player-connection-debug=1
player-connection-project-name=FirerushRock
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.103
player-connection-ip=172.28.128.1
player-connection-ip=169.254.14.33
player-connection-ip=192.168.56.1
player-connection-ip=172.26.80.1
player-connection-ip=25.117.20.32
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
hdr-display-enabled=0
